# Mi ejercicio 1: Transformación de cadenas

Trabajamos con las siguiente variable de texto, ***text***:

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Divide el texto en cada oración para trabajar con su contenido y formamos una lista de strings:

In [3]:
# Añade el código necesario
#text.split()

#text.split('\n')

texto=text.split('.')
texto

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Definimos las palabras clave de la búsqueda para determinar si una oración contiene un hecho.

In [4]:
# Define las palabras pista: average, temperature y distance suenan bien
print("posicion de palabra 'average': ",text.find('average'))
print("posicion de palabra 'temperature': ",text.find('temperature'))
print("posicion de palabra 'distance': ",text.find('distance'))

lista= ['average','temperature','distance']
print("Lista: ", lista)

posicion de palabra 'average':  164
posicion de palabra 'temperature':  326
posicion de palabra 'distance':  -1
Lista:  ['average', 'temperature', 'distance']

Creamos un ciclo for  para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave anteriormente definidas:

In [5]:
# Ciclo for para recorrer la cadena
#print(lista,'\n',texto,'\n')
for t in texto:
    for listitem in lista:
        #if  -1!= text.find(listitem):
        if listitem in t:
            #print(listitem,":",text)
            print(t)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

Actualiza el for para cambiar _C_ a _Celsius_:

In [6]:
# Ciclo para cambiar C a Celsius
# Ver nuestros datos origen
print ("Imprime texto inicial (text) del tipo string:\n ", text,'\n')

print ("Imprime texto inicial (texto) fue separada usando split y regresa una lista:\n ", texto,'\n')

a_cambiar ='C'
por='Celsius'

#Hacemos 2 variales para ver que tenemos de resultado
#El primero copia de la string original text0
text0=text

print ("Imprime texto inicial (text0) es copia de la text original:\n ", text0,'\n')

#hacemos notar que text es tipo string y texto es tipo lista
#  por lo tanto el metodo .replace solo funciona en la variable tipo string. 
# no podemos usarlo con una lista a menos que lo apliquemos a sus elemetos string de manera individual 

text0=text.replace(a_cambiar,por)
print("TExto remplazado (text0) como es una string, empleado el metodo replace para strings funciona: ", '\n' , text0,'\n')

#La segunda variable copia de la lista con los elementos en text1
text1=texto

#Si uso listas. Trabajo con la lista pero aplico el replace al elemento string de la lista
# que actualmente estoy trabajando
for t in text1:
    if a_cambiar in t:
        print("Antes de cambiar el elemento de la lista: \n", t)
        t=t.replace(a_cambiar,por)
        print("Despues de cambiar el elemento de la lista: \n", t)
        
#print("Como queda la lista completa despues de correr el código: \n", text1)

Imprime texto inicial (text) del tipo string:
  Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

Imprime texto inicial (texto) fue separada usando split y regresa una lista:
  ['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', ' \nOn average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', ' The highest daylight temperature of the Moon is 127 C', '']

Imprime texto inicial (text0) es copia de la text original:
  Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

TExto remplazado (text0) como es una string, empleado el metodo replace para strings funciona:
 Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 Celsius.

Antes de cambiar el elemento de la lista:
  The highest daylight temperature of the Moon is 127 C
Despues de cambiar el elemento de la lista:
  The highest daylight temperature of the Moon is 127 Celsius

# Mi segundo ejercicio 2: Formateando Cadenas

En un formato genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [7]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [8]:
# Creamos el título
titulo=f"Datos sobre la gravedad de {name} "
#Probamos la variable
print(titulo)

Datos sobre la gravedad de Moon

Creamos una plantilla de cadena multilínea para el resto de la información. En lugar kilómetros,  convertimos a metros multiplicando por 1,000.

In [9]:
# Creamos la plantilla
#Una raya de iguales se hace con {'='*NUMEROdeveces que debe aparecer}
datos = f"""{'='*50}
Nombre del planeta: {planet}
La Gravedad en {name}: {gravity * 1000} m/s^2
"""
#Probamos la variable
print(datos)

==================================================
Nombre del planeta: Earth
La Gravedad en Moon: 1.6199999999999999 m/s^2

Unimos el resultado

In [10]:
# Unión de ambas cadenas
plantilla= f"""{titulo.title()}
{datos}
"""
print(plantilla)

Datos Sobre La Gravedad De Moon
==================================================
Nombre del planeta: Earth
La Gravedad en Moon: 1.6199999999999999 m/s^2

Ahora con una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [11]:
# Comprueba la plantilla
# print(nombre_plantilla)
name = "Ganimedes"
gravity = 0.00143 # in kms
planet = "Marte"

print(plantilla)

Datos Sobre La Gravedad De Moon
==================================================
Nombre del planeta: Earth
La Gravedad en Moon: 1.6199999999999999 m/s^2


La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar.(INTERESANTE ESTO no lo esperaba)

 Para evitar este problema, volvere a hacer la plantilla para utilizar .format():

In [14]:
# Nueva plantilla
plantilla2 = """
Datos sobre la gravedad de {name} :
==================================================
Nombre del planeta: {planet}
La Gravedad en {name}: {gravity} m/s^2
"""
#Probamos la variable
print(plantilla2.format(planet=planet, name=name, gravity=gravity))

Datos sobre la gravedad de Ganimedes :
==================================================
Nombre del planeta: Marte
La Gravedad en Ganimedes: 0.00143 m/s^2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [16]:
# Pista: print(nueva_plantilla.format(variables))
#El resultado no me sale por el momento sigo y 
# al final del las Katas reviso porque a Fernanda Ochoa le da el dato correcto.
#El error estaba em que una template =f """ vs templatenueva=""" esta ultima no usa  {'='*50}

print(plantilla2.format(planet=planet, name=name, gravity=gravity*1000))

Datos sobre la gravedad de Ganimedes :
==================================================
Nombre del planeta: Marte
La Gravedad en Ganimedes: 1.4300000000000002 m/s^2

## Soluciones de Fernanda Ochoa Learning Producer en LaunchX

## Ejercicio 1

In [38]:
# Divide el texto
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [39]:
# Palabras clave
key_words = ["average", "temperature", "distance"]

In [40]:
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [41]:
# Ciclo para cambiar C a Celsius
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace('C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127  Celsius.

## Ejercicio 2

In [42]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [43]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [44]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [45]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [46]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [47]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [48]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [49]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2









Resolucion a los procesos Katas del Curso Propedútico de Python durante Launch X de Innovacción Virtual.

Modulo 3

Se trabajo con material desarrollado con base en los contenidos de MSLearn y la metáfora de LaunchX según traducción e implementación de Fernanda Ochoa - Learning Producer de LaunchX.

Modifficado por [Francisco G](https://github.com/Frank-t1 "Frank-t1") en Github